*{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
body{
    background-image: url(./multimedia/tropical-leaves-paper-cut-style.jpg);
}
/*Heder*/
.heder-contenido{
    padding-top: 10px;
    padding-left: 10px;
}

.heder-titulo{
    text-align:center;
    color: black;
    font-size: 50px;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 0 0 5px #c659aa, 0 0 10px #c659aa,  0 0 20px #c659aa,  0 0 40px #c659aa, 0 0 80px #c659aa,  0 0 160px #c659aa; 
}

/* Fin heder*/
/* inicio carrusel*/

.carousel{

    padding-top: 20px;
    padding-bottom: 10px;
}
/*Fin de carrusel*/
/*Seccion descripcion-marca */

.descripcionmarca-contenido{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 20px 10px; 
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 6px 8px black;
}

.descripcionmarca-parrafo{
    flex: 1;
    line-height: 1.6;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: lighter;
    color: black;
}
@media only screen and (max-width: 768px) {
    .descripcionmarca-contenido {
        flex-direction: column;
        text-align: center;
    }

    .descripcionmarca-parrafo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .descripcionmarca-img {
        display: none;
    }
}



/* Fin descripcion-marca*/

/* Seccion  opiniones y youtube */
.opiniones-container {
    padding-left: 10px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    align-items: center; 
}
.opiniones-item img {
    width: 100%;
    max-width: 560px; 
    max-height: 315px; 
    object-fit: cover; 
  }
  
  .opiniones-item iframe {
    width: 100%;
    max-width: 560px; 
    height: 315px; 
  }

  @media only screen and (max-width: 768px){
    .opiniones-container{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
  } 
/* Seccion  opiniones y youtube */


/*Seccion footer*/

.footer{
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.footer__img{
    width: 50px;
    height: 50px;
    
}
.footer__descripcion{
    padding-top: 3px;
    text-align: center;
    font-size:20px;
}

/* Fin footer*/
/* Inicio servicios */
.servicios-contenido {
    padding: 20px;
    margin: 20px 0;
}
.servicios-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.servicios-cards:hover{
    transform: scale(1.05);
}


.servicios-cards {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px black;
    
}
.img-serv {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.servicios-descripcion-titulo {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.servicios-descripcion {
    color: #666;
    font-size: 14px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .servicios-img {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 480px) {
    .servicios-img {
        grid-template-columns: 1fr;
    }
}
/* Fin Servicios */

/* Seccion Productos */

.productos-contenido {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.producto {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px black;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.producto-p {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.producto-item {
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration:underline;
}
.productos-boton {
    background-color: #4CAF50;
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 6px black;
}
.productos-boton:hover {
    background-color: #45A049; 
    box-shadow: 0 6px 8px black;
    transform: translateY(-2px);
}

.ml nav a {
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.img-producto{
    padding-bottom: 5px;
    width: 100%;
    max-width: 150px;
}
.producto-precio{
    text-decoration: overline 3px gray;
    text-align: center;
    font-weight: bolder;

}

@media only screen and (max-width: 760px) {
    .productos-contenido{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 480px){
    .productos-contenido{
        grid-template-columns: repeat(1,1fr);
    }
}

/* Seccion quienes somos*/
.quienes-somos{
    padding-left: 10px;
    padding-right: 20px;
}
.titulo-principal {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 20px;
}
.titulo-secundario{
    text-decoration: overline;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.nombre-miembro {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}
.miembro img {
    border-radius: 50%;
    box-shadow: 0 0 5px #c659aa, 0 0 10px #c659aa,  0 0 20px #c659aa,  0 0 40px #c659aa, 0 0 80px #c659aa;
}
.imgasd{
    border-radius: 30%;
    border: 1px solid black;
    box-shadow: 0 4px 8px black;
}

/* Fin Seccion quienes somos*/
.contacto-contenido {
    padding: 20px;
}

.img-fluid {
    max-width: 100%;
    border-radius: 10px;
}

