
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
body{
    background: linear-gradient(to right, #ffb3d1, #ffcce6, #ffb3d1);
}